header {
   
   width: 100%;
   height: 50px ;
}

header h1 {
    text-align: center;
    font-weight: bold;
    color:darkblue;
    font-family: Times, serif, 
    Arial, sans-serif;
    
}
nav {
  position: -webkit-sticky;
  position: sticky;
  background-color: gray;
  top:0;
}
/*nav {
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  background-color: gray;
  height: 20px;
}*/
nav ol {
  margin: 0px;
  padding-left: 0px;
}
nav li {
  display: inline;
  width: 100%;
  margin-right: 20px;
  left: 0px;
  
}

body
{
  background-image: url("Task/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100vh;
}

.image_shown {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact {
    font-family: sans-serif;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:100px;
    font-weight: bold;
    color: black;
    
}

.self_introduction {
  font-family: sans-serif;
  text-align: left;
  text-indent: 2em;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
} 

 footer div p {
  margin-left: auto; 
  margin-right: auto;
  padding: 0 10px;
  text-align: center;
  background-color: gray;
  margin-bottom: 0px;
  bottom: 0px;
} 


.resume {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}


.resume tr td {
  border: 2px solid black;
}

.resume .details {
  text-align: left;
}
